@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.logo-nav {
    width: 180px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    margin-top: -50px;
    font-family: 'Fira Sans', sans-serif;
}

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/banner-bg.png) top right;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}


#sticky-menu {
    position: sticky;
    ;
    top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    background-color: #ffffff;
    transition: top 0.3s ease;

}

.aaaaaaaaaaa {
    margin-top: 250px;

}



.navv-a {
    background-color: #FF0000;
    border-radius: 8%;
    color: white;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -65px;
}

.contact-btn {
    color: #ffffff;
    background-color: #FD0000;
    border-style: none;
    border-radius: 12px;
    width: 164px;
    height: 57px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}

.contact-btn:hover {
    background-color: white;
    color: #FD0000;
    transform: scale(1.1);
}


.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.search-box {

    background: white;
    border-radius: 30px;
    padding: 26px 27px;
}

.img-ad {
    margin-top: 50px;
    width: 240px;
    height: 150;
    border-radius: 11px
}






.footer-list {
    font-size: 14px;
}



.custom-input-field {
    width: 48%;
    padding: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #F4F4F4;
    display: inline-block;
}


#custom-email {
    margin-left: 4%;
}

.social-icon {
    background: #ED3A3A;
    border-radius: 50%;
    color: white;
    padding: 12px;
}



textarea:focus,
button:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #dddddd00;
}

.mapp {
    width: 100%;
    height: 50vh;
}

.navigator-item {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navigator-item a {
    text-wrap: nowrap;
}

.svg-canda {
    position: relative;
    width: 48px;
    height: 48px;
    right: 35px;
    background: white;
    padding: 8px;
    border: 1px solid white;
    border-radius: 27px;
}

.icon-bg {
    color: #EC3737;
    background: #ecedf3;
    padding: 11px 11px;
    border-radius: 50%;

}

.dot {
    width: 4px;
    height: 4px;
    background-color: #fc9922;
    border-radius: 50%;
}


/* animation css */



.floating-img:hover {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-bottom: 3px;

}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

@keyframes floatFromLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.float-from-left-animation {
    animation: floatFromLeft 1s ease-out;
}

/* Keyframes for the alternative animation */
@keyframes floatFromLeftAlternative {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }
}

.float-from-right-animation {
    animation: floatFromLeftAlternative 2s ease-in-out;
}










/* For screens smaller than 768 pixels (typical smartphones) */
@media only screen and (max-width: 767px) {
    .search-box-conatain {
        padding: 0;
    }

    .search-box {
        border-radius: 18px;
        padding: 14px 6px;
    }

    .contact-btn {
        border-radius: 12px;
        width: 135px;
        height: 39px;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.5s, color 0.5s, transform 0.5s;
    }

    .sm-logo-center {
        text-align: center;
    }

    .img-ad {
        width: 168px;
        max-width: 180px;
        margin-top: 10px;
        height: 130px;
        border-radius: 14px;
        text-align: center;
    }

    .new-class {
        width: 50%;
        flex: 0 0 50%;
        max-width: 50%;
        display: flex;
        margin-top: 1rem;

    }

    .sm-bg-color {
        background-color: white
    }

    .navv-a {
        margin-bottom: auto;
    }

    .navigator-item {
        display: flex;
        padding-bottom: 7px;
        gap: 5px;
    }

    .svg-canda {
        right: 103px
    }

    .chek-visa {
        border-radius: 0px 0px 0px 0px !important;
        padding: 20px 46px;
        margin-top: 0px;
        justify-content: center;
    }

    .btn-text-dream {
        text-align: center;
        margin: 14px 0px;
    }

    .logo-footer {
        width: 100%;
        margin-bottom: 10px;

    }

    .about-work {
        border: 1px solid rgb(255, 255, 255);
    }


    .mx-bog-scn {
        margin-left: 0px;
        margin-right: 0px;
    }

    .my-mbl {
        margin-top: 10px;
        margin-bottom: 100px;
    }

    .my-mbl p {
        margin: 0;
    }

    .textalign {
        text-align: center;
    }
    .contact-info {
        position: absolute;
        left: 12px;

    }

    /* .aaaaaaaaaaa {
        margin-top: 150vh;

    } */
}



@media (min-width:1025px) {
    .contact-info {
        position: absolute;
        left: 14px;
    }
    .textalign {
        text-align: left;
    }
    .mx-bog-scn {
        margin-left: 50px;
        margin-right: 50px;
    }
}
